{% extends 'base.html.twig' %}

{% block title %}Overview{% endblock %}

{% block body %}
<div class="container mt-4 pb-5">
    <h2>{{ description }}</h2>

    <nav class="buttons justify-content-end d-flex">
        <div class="list"><i class="bi bi-list"></i></div>
        <div class="grid"><i class="bi bi-grid"></i></div>
    </nav>

    <div class="wrapper" id="wrapper">
        <article class="grid-row mb-1 align-items-baseline">
            <div class="row">
                <div class="col-1 fw-bold">Image</div>
                <div class="col-1 fw-bold text-end">Id</div>
                <div class="col fw-bold">Name</div>
                <div class="col fw-bold">Location</div>
                <div class="col fw-bold">Species</div>
                <div class="col fw-bold">Status</div>
            </div>
        </article>
    {% for item in results %}
        {% include 'default/card.html.twig' %}
        {% include 'default/list.html.twig' %}
    {% endfor %}
    </div>

    {% if info.pages > 1 %}
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-end">
            {% if info.prev is not null %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in 0..info.pages %}
                <li class="page-item"><a class="page-link" href="#">{{ i }}</a></li>
            {% endfor %}

            {% if info.next is not null %}
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/javascript/overview.js"></script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/style/grid.css">
    <link rel="stylesheet" href="/style/card.css">

{% endblock %}
